<template>
    <tr v-if="active != null">
        <th>{{current.name}}</th>
        <!-- <td>{{current.description}}</td> -->
        <td>{{active.description}}</td>
        <td><span :class="isAboveMax ? 'text-danger' : ''">{{skill.level}}</span>/<span>{{current.ranks.length}}</span></td>
    </tr>
</template>

<script>
    export default {
        name: "active-skill",
        props: ["skill"],
        watch: {
            skill: function(skill) {
                if(this.current)
                {
                    this.active = this.current.ranks[skill.level-1] || this.current.ranks[this.current.ranks.length-1];
                }
            },
            deep: true
        },
        computed: {
            isAboveMax() {
                return this.skill.level/this.current.ranks.length > 1;
            }
        },
        data() {
            return {
                active: null,
                current: null
            }
        },
        created() {            
            let ajax = new XMLHttpRequest();
            ajax.open('GET', `${this.$apiDomain}/api/skills/${this.skill.id}`, true);
            // On Done
            var level = this.skill.level;
            ajax.addEventListener('loadend', (e) => {
                const { responseText } = e.target;
                let response = JSON.parse(responseText);
                if(response) {
                    this.current = response;
                    this.active = response.ranks[level-1];                        
                }                    
            });
            ajax.send();            
        }
    };
</script>

<style scoped>
    h2 {
        margin-bottom: 40px;
    }
    ul {
        list-style-type: none;
    }    
</style>