<template>
    <div>
        <div class="d-flex">
            <div class="d-flex icon-selector-container">
                <div :class="['equipment-icon', equipment.type, `rarity-${rarity}`]"></div>
                <selector
                    :id="id"
                    :url="url"
                    :placeholder="equipment.label"
                    :template="template"
                    :isSelected="current != null"
                    @selected="equipmentSelected"
                    @removed="equipmentRemoved"></selector>
            </div>
            <b-dropdown :text="selected.label" class="m-2" :disabled="this.current != null">
                <b-dropdown-header>Search by</b-dropdown-header>
                <b-dropdown-item-button
                    v-for="(type, index) in query.types"
                    :key="`query-${equipment.type}-${index}`"
                    :value="type.value"
                    @click="setSelected(index)">{{type.label}}</b-dropdown-item-button>
            </b-dropdown>
        </div>
        <div v-if="current != null">
            <decoration-group
                :decoIds="current.decoIds"
                :slots="current.slots"
                :type="equipment.type"
                @decorationSelected="decorationSelected"
                @decorationRemoved="decorationRemoved"></decoration-group>
        </div>
    </div>
</template>
 
 
<script> 
    import Selector from './Selector.vue';
    import DecorationGroup from './DecorationGroup.vue';

    export default {
        name: "armor-selector",
        components: {
            "selector": Selector,
            "decoration-group": DecorationGroup
        },
        props: ["pkey", "equipment", "current"],
        created(){
            this.setSelected(0);
        },
        data() {
            return {
                label: "skills",
                query: {                    
                    selected: null,
                    types: [
                        {
                            label: "Name",
                            value: "name"
                        },
                        {
                            label: "Skill",
                            value: "skills.skill.name"
                        }
                    ]
                }
            }
        },
        methods: {
            setSelected(index) {
                this.query.selected = index;
            },
            equipmentSelected(item) {
                // Set decoIds property when loading item
                item.decoIds = this.current && this.current.decoIds ? this.current.decoIds : [];
                this.$emit("armorSelected", this.equipment.type, item);
            },
            equipmentRemoved() {
                this.$emit("armorRemoved", this.pkey);
            },
            decorationSelected(item, index) {
                this.current.skills.push({
                    "index": index,
                    "id": item.id,
                    "slug": item.slug,
                    "skill": item.skill,
                    "level": 1,
                    "description": "decoration",
                    "modifiers": []
                });
                this.current.decoIds[index] = item.id;
                this.equipmentSelected(this.current);
            },
            decorationRemoved(uid){
                if(index != -1) {
                    this.current.skills.splice(index, 1);
                    this.current.decoIds[index] = null;
                }

                this.equipmentSelected(this.current);
            },
            template(data) {
                let template = `<strong class="autocomplete-anchor-text">${data.name}</strong>`;
                template += `<div class="autocomplete-anchor-label">`;
                let skill;
                for(let i = 0; i < data.skills.length; i++){
                    skill = data.skills[i];                    
                    template += `<div class="custom-label">
                                    <div class="skill-name">${skill.slug.replace(/(-|rank-\d)/g, " ")} ${skill.level}</div>
                                    <div class="skill-description">${skill.description}</div>
                                 </div>`
                }
                template += `</div>`;
                return template;
            }
        },
        computed: {
            id() {
                return this.current && this.current.id ? this.current.id : null;
            },
            url() {
                let node = this.id ? "id" : `${this.equipment.type}/${this.selected.value}`;
                return `/api/armors/${node}/{value}`;
            },
            rarity() {
                return this.current ? this.current.rarity : 1;
            },
            selected() {
                return this.query.types[this.query.selected];
            }
        }
    };
 
</script>