<template>
    <div class="armor-container">
        <div class="armor-details">
            <table class="table table-sm table-striped">
                <tbody>
                    <tr>
                        <th class="name">Defense</th>
                        <td>{{defense}}</td>
                    </tr>
                    <tr>
                        <th class="name">Fire</th>
                        <td :class="fire < 0 ? 'text-danger' : ''">{{fire}}</td>
                    </tr>
                    <tr>
                        <th class="name">Water</th>
                        <td :class="water < 0 ? 'text-danger' : ''">{{water}}</td>
                    </tr>
                    <tr>
                        <th class="name">Ice</th>
                        <td :class="ice < 0 ? 'text-danger' : ''">{{ice}}</td>
                    </tr>
                    <tr>
                        <th class="name">Thunder</th>
                        <td :class="thunder < 0 ? 'text-danger' : ''">{{thunder}}</td>
                    </tr>
                    <tr>
                        <th class="name">Dragon</th>
                        <td :class="dragon < 0 ? 'text-danger' : ''">{{dragon}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "armor-details",
        components: {            
        },
        props: ["armor"],
        created(){
        },
        data() {
            return {
                current: null
            }
        },
        methods: {
            getDefense(){
                var total = 0;
                for(var type in this.armor){
                    if(this.armor[type].defense){
                        total += this.armor[type].defense.base;
                    }                    
                }
                return total;
            },
            getResistance(resistance){
                var total = 0;
                for(var type in this.armor){
                    if(this.armor[type].resistances){
                        total += this.armor[type].resistances[resistance];
                    }                    
                }
                return total;
            }
        },
        computed: {
            defense(){
                return this.getDefense();
            },
            fire(){
                return this.getResistance("fire");
            },
            water(){
                return this.getResistance("water");
            },
            ice(){
                return this.getResistance("ice");
            },
            thunder(){
                return this.getResistance("thunder");
            },
            dragon(){
                return this.getResistance("dragon");
            }
        }
    };
</script>

<style scoped>
</style>