<template>
    <div>
        <div class="d-flex">
            <div class="d-flex icon-selector-container">
                <div :class="['equipment-icon', 'charm', `rarity-${rarity}`]"></div>
                <selector
                    :id="id"
                    :url="url"
                    :template="template"
                    :isSelected="current != null"
                    placeholder="Charm"
                    @selected="equipmentSelected"
                    @removed="equipmentRemoved"></selector>
            </div>
            <b-dropdown :text="selected.label" class="m-2" :disabled="this.current != null">
                <b-dropdown-header>Search by</b-dropdown-header>
                <b-dropdown-item-button
                    v-for="(type, index) in query.types"
                    :key="`query-charm-${index}`"
                    :value="type.value"
                    @click="setSelected(index)">{{type.label}}</b-dropdown-item-button>
            </b-dropdown>
        </div>
    </div>
</template> 
 
<script> 
    import Selector from './Selector.vue';    
    
    export default {
        name: "charm-selector",
        components: { "selector": Selector },
        props: ["pkey", "current"],
        created(){
            this.setSelected(0);
        },
        data() {
            return {
                label: "skills",
                query: {                    
                    selected: "name",
                    types: [
                        {
                            label: "Name",
                            value: "name"
                        },
                        {
                            label: "Skill",
                            value: "ranks.skills.skillName"
                        }
                    ]
                }                
            }
        },
        methods: {
            setSelected(index) {
                this.query.selected = index;
            },
            equipmentSelected(item) {
                this.$emit("charmSelected", "charm", item);
            },
            equipmentRemoved() {
                this.$emit("charmRemoved", this.pkey);
            },
            template(data) {
                let template = `<strong class="autocomplete-anchor-text">${data.name}</strong>`;
                template += `<div class="autocomplete-anchor-label">`;
                let skill;
                for(let i = 0; i < data.skills.length; i++){
                    skill = data.skills[i];
                    template += `<div class="custom-label">
                                    <div class="skill-name">${data.name}</div>
                                    <div class="skill-description">${skill.description}</div>
                                 </div>`
                }
                template += `</div>`;
                return template;
            }
        },
        computed: {
            id() {
                return this.current && this.current.id ? this.current.id : null;
            },
            url() {
                let node = this.id ? `id/{value}/rank/${this.current.rank}` : `${this.selected.value}/{value}`;
                return `/api/charms/${node}`;
            },
            rarity() {
                return this.current ? this.current.rarity : 1;
            },
            selected() {
                return this.query.types[this.query.selected];
            }
        }
    };
 
</script>