<template>
    <div class="d-flex">
        <div class="d-flex icon-selector-container">
            <div :class="['equipment-icon', `slot-rank-${rank}`, `rarity-${rarity}`]"></div>
            <selector
                :id="id"
                :url="formattedUrl"
                :placeholder="`Slot Rank ${rank}`"
                :template="template"
                :isSelected="current != null"
                @selected="decorationSelected"
                @removed="decorationRemoved"></selector>
        </div>
    </div>
</template>

<script> 
    import Selector from './Selector.vue';    
    
    export default {
        name: "decoration-selector",
        components: { "selector": Selector },
        props: ["id", "index", "pkey", "label", "url", "rank"],
        created(){
            // console.log("Deco Selector created");
        },
        data() {
            return {
                current: null,
                query: {
                    selected: "name",
                    types: [
                        {
                            label: "Name",
                            value: "name"
                        },
                        {
                            label: "Skill",
                            value: "skills.skill.name"
                        }
                    ]
                }                
            }
        },
        methods: {
            decorationSelected(item, id) {
                this.current = item;
                // Using this.index instead of id because it's position is unique in the item
                this.$emit("decorationSelected", item, this.index);
            },
            decorationRemoved(id){
                this.current = null;
                // Using this.index instead of id because it's position is unique in the item
                this.$emit("decorationRemoved", this.index);
            },
            template(data) {
                let skill;
                let template = `<strong class="autocomplete-anchor-text">${data.name}</strong>`;
                template += `<div class="autocomplete-anchor-label">`;
                for(let i = 0; i < data.skills.length; i++){
                    skill = data.skills[i];                    
                    template += `<div class="custom-label">
                                    <div class="skill-name">${skill.skillName} ${skill.level}</div>
                                    <div class="skill-description">${skill.description}</div>
                                 </div>`
                }
                template += `</div>`;
                return template;
            }
        },
        computed: {
            rarity() {
                return this.current ? this.current.rarity : 1;
            },
            formattedUrl() {
                var node = this.id ? `id/{value}` : `name/{value}/rank/${this.rank}`;
                return `${this.url}/${node}`;
            }
        }
    };
 
</script>