<template>
    <div class="decoration-group">
        <div class="decoration-subgroup">
            <decoration-selector
                v-for="(slot, index) in slots"
                :id="decoIds[index]"
                :index="index"
                :pkey="`${type}-slot-${index}`"
                :key="`${type}-slot-${index}`"
                :url="url"
                :label="label"
                :rank="slot.rank"
                @decorationSelected="decorationSelected"
                @decorationRemoved="decorationRemoved"></decoration-selector>
        </div>
    </div>
</template>
 
 
<script> 
    import DecorationSelector from './DecorationSelector.vue';    
    
    export default {
        name: "decoration-group",
        components: { "decoration-selector": DecorationSelector },
        props: ["pid", "slots", "type", "decoIds"],
        created(){
            // console.log("Deco Group created");
        },
        data() {
            return {
                label: "skills"
            }
        },
        methods: {
            decorationSelected(item, id) {
                this.$emit("decorationSelected", item, id);
            },
            decorationRemoved(id){
                this.$emit("decorationRemoved", id);
            }
        },
        computed: {
            url() {
                return `/api/decorations`;
            }
        }
    };
 
</script>