<template>
    <div class="equipment-container">
        <h3>Armor Stats</h3>
        <armor-details :armor="armor"></armor-details>
        <h3>Weapon Stats</h3>
        <weapon-details v-if="weapon" :weapon="weapon"></weapon-details>
    </div>
</template>

<script>
    import ArmorDetails from './ArmorDetails.vue';
    import WeaponDetails from './WeaponDetails.vue';

    export default {
        name: "equipment-details",
        components: {
            'armor-details': ArmorDetails,
            'weapon-details': WeaponDetails            
        },
        props: ["equipment"],
        created(){            
        },
        data() {
            return {
                current: null
            }
        },
        methods: {
        },
        computed: {
            armor() {
                return this.equipment ? this.equipment : null;
            },
            weapon() {
                return this.equipment && this.equipment.weapon && this.equipment.weapon.name ? this.equipment.weapon : null;
            }
        }
    };
</script>