<template>
    <section class="loadout container d-flex flex-wrap">
        <h2 class="full">Loadout</h2>
        <div class="selector-container">
            <weapon-selector
                key="weapon"
                pkey="weapon"
                :current="equipment.current.weapon"
                @weaponSelected="equipmentSelected"
                @weaponRemoved="equipmentRemoved"></weapon-selector>
            <armor-selector
                :key="type.type" v-for="(type) in equipment.types"
                :pkey="type.type"
                :equipment="type"
                :current="equipment.current[type.type]"
                @armorSelected="equipmentSelected"
                @armorRemoved="equipmentRemoved"></armor-selector>
            <charm-selector
                key="charm"
                pkey="charm"
                :current="equipment.current.charm"
                @charmSelected="equipmentSelected"
                @charmRemoved="equipmentRemoved"></charm-selector>
        </div>
        <div class="details-container">
            <equipment-details :equipment="this.equipment.current"></equipment-details>
        </div>
        <hr/>
        <h3 class="full">Skills</h3>
        <table v-if="skills" class="table table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Level/Max</th>
                </tr>
            </thead>
            <tbody>
                <active-skill :key="`'skill-'${index}`" v-for="(skill, index) in skills" :skill="skill"></active-skill>
            </tbody>
        </table>        
        <b-button-group class="full d-flex justify-content-end">
            <b-button variant="primary" class="btn" v-on:click="create">New</b-button>
            <!-- <b-button v-if="!isNew && !isOwner" variant="outline-warning" class="btn">Copy</b-button> -->
            <b-button v-if="!isNew && isOwner && !isEditMode" variant="outline-success" class="btn">Edit</b-button>
            <b-button v-if="isNew || (isEditMode && isOwner)" variant="success" class="btn" v-on:click="save">Save</b-button>
        </b-button-group>        
    </section>
</template>

<script>
    import ActiveSkill from './ActiveSkill.vue';
    import WeaponSelector from './WeaponSelector.vue';
    import ArmorSelector from './ArmorSelector.vue';
    import CharmSelector from './CharmSelector.vue';
    import EquipmentDetails from './EquipmentDetails.vue';    

    export default {
        name: 'equipment',
        components: {
            'weapon-selector': WeaponSelector,
            'armor-selector': ArmorSelector,
            'charm-selector': CharmSelector,
            'equipment-details': EquipmentDetails,
            'active-skill': ActiveSkill            
        },
        data() {
            return {
                equipment: {
                    current: {},
                    skills: {},
                    decorations: {},
                    types: [
                    {
                        label: "Head",
                        type: "head",
                        from: "armor"
                    }, {
                        label: "Chest",
                        type: "chest",
                        from: "armor"
                    }, {
                        label: "Gloves",
                        type: "gloves",
                        from: "armor"
                    }, {
                        label: "Waist",
                        type: "waist",
                        from: "armor"
                    }, {
                        label: "Legs",
                        type: "legs",
                        from: "armor"
                    }]
                }
            }
        },
        created(){
            let uid = this.$route.params.uid;
            this.load(uid);
        },
        methods: {
            equipmentSelected: function(equipmentType, item) {
                this.$set(this.equipment.current, equipmentType, item);
            },
            equipmentRemoved: function(key) {
                this.$delete(this.equipment.current, key);
            },
            create(){
                if(confirm("Create new Loadout?")){
                    this.$router.push('/loadouts');
                }
            },
            save(){
                let ajax = new XMLHttpRequest();
                ajax.open('POST', `${this.$apiDomain}/api/loadouts/`, true);
                ajax.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                // On Done
                ajax.addEventListener('loadend', (e) => {
                    const { responseText } = e.target;
                    let response = JSON.parse(responseText);
                    if(e.target.status === 200) {
                        this.$router.push(`/loadouts/${response.uid}`);
                        //$this.$set($this.equipment, "current", response);
                    } else {
                        alert(response.message);                        
                        //this.$router.push('/loadouts');
                    }
                });
                ajax.send(JSON.stringify(this.equipment.current));
            },
            load(uid){
                let $this = this;
                $this.equipment.current = {};

                if(!this.isNew){
                    let ajax = new XMLHttpRequest();
                    ajax.open('GET', `${$this.$apiDomain}/api/loadouts/${uid}`, true);
                    // On Done
                    ajax.addEventListener('loadend', (e) => {
                        const { responseText } = e.target;
                        if(e.target.status === 200) {
                            let response = JSON.parse(responseText);
                            $this.$set($this.equipment, "current", response);
                        } else {
                            this.$router.push('/loadouts');
                        }
                    });
                    ajax.send();
                }
            }
        },
        computed: {
            isNew() {
                return this.$route.params.uid == null;
            },
            isEditMode(){
                return false;
            },
            isOwner(){
                return false;
            },
            skills(){
                let skills = {};
                for(let key in this.equipment.current) {
                    if(this.equipment.current[key].skills) {
                        for(let i = 0; i < this.equipment.current[key].skills.length; i++){
                            let current = this.equipment.current[key].skills[i];
                            // If skill doesn't exist, create it
                            if(!skills[current.skill]) skills[current.skill] = { id: current.skill, level: 0};
                            // Sum previous skill level with current
                            skills[current.skill].level += current.level;
                        }
                    }
                }
                return skills;
            }
        },
        watch: {
            "$route.params.uid": function (uid) {
                this.load(uid);
            }
        }
    }
</script>

<style>
    @import '/css/equipment.css';
</style>