<template>
    <div class="product-list">
        <h2>{{title}}</h2>
        <ul>
            <product-list-item @remove="remove(index)" v-for="(product, index) in products" :product="product" :key="product.id"></product-list-item>
        </ul>
    </div>
</template>

<script>
    import ProductListItem from './ProductListItem.vue';

    export default {
        name: 'product-list',
        props: ['products', 'title'],
        components: {
            'product-list-item': ProductListItem
        },
        methods: {
            remove: function(index){
                this.products.splice(index, 1);
            }
        }
    }
</script>

<style scoped>
    h2 {
        margin-bottom: 40px;
    }
    ul {
        list-style-type: none;
    }    
</style>         
        