<template>
    <div class="selector m-2">
        <autocomplete
            ref="autocomplete"
            url="https://mhw-db.com"
            anchor="name"
            className="custom"
            :classes="{ input: 'form-control' }"
            :placeholder="placeholder"
            :min="3"
            :debounce="500"
            :onSelect="selected"
            :onShouldGetData="getData"
            :onShouldRenderChild="renderChild">
        </autocomplete>
        <div class="remove-item" v-show="isSelected" @click="removed"></div>
    </div>
</template>
 
<script> 
    require('vue2-autocomplete-js/dist/style/vue2-autocomplete.css');

    import Autocomplete from 'vue2-autocomplete-js'; 
    
    export default {
        name: "selector",
        components: { Autocomplete },
        props: ["id", "url", "placeholder", "template"],
        mounted(){
            this.loadItem(this.id);
        },
        data() {
            return {
                isSelected: false
            };
        },
        methods: {
            getData(value) {
                return new Promise((resolve, reject) => {
                    let ajax = new XMLHttpRequest();
                    ajax.open('GET', `${this.$apiDomain}${this.url.replace("{value}", value)}`, true);
                    // On Done
                    ajax.addEventListener('loadend', (e) => {
                        const { responseText } = e.target;
                        let response = JSON.parse(responseText);
                        response = response.data || response;
                        resolve(response);
                    });
                    ajax.send();
                });
            },
            selected(item) {
                if(item && item.id != -1) {
                    this.isSelected = true;
                    this.toggleInput(true);
                    this.$emit("selected", item, this.id);
                } else {
                    this.setValue("");
                }
            },
            removed() {
                this.isSelected = false;
                this.setValue("");
                this.toggleInput(false);
                this.$emit("removed", this.id);
            },
            toggleInput(disable) {
                var input = this.$refs.autocomplete.$refs.input;
                if(disable){
                    input.setAttribute("readonly", "readonly");
                } else {
                    input.removeAttribute("readonly", this.id);
                }
            },
            setValue(value){
                this.$refs.autocomplete.setValue(value)
            },
            renderChild(data) {
                return data.id != -1 && this.template ? this.template(data) : `<b class="autocomplete-anchor-text">${data.name}</b>`;
            },
            loadItem(id){
                var isValid = id && id != -1;
                this.toggleInput(isValid);
                if(isValid){                    
                    this.getData(id).then((item) => {
                        this.setValue(item.name);
                        this.selected(item);
                    });
                } else {
                    this.setValue("");
                }
            }
        },
        watch: {
            id(){
                this.loadItem(this.id);
            }
        }     
    }; 
</script>