<template>
    <div class="weapon-container">
        <div class="weapon-details autocomplete-anchor-label">                            
            <div class="attack flex separator">
                <span class="name">Attack</span><span class="value">{{weapon.attributes.attack}}</span>
            </div>
            <div v-show="weapon.sharpness" class="weapon-sharpness align-items-center flex separator">
                <span class="name">Sharpness</span>
                <div class="bar flex">
                    <div v-for="(value, propertyName) in weapon.sharpness"
                        :class="propertyName"
                        :key="`sharpness-${propertyName}`"
                        :style="{ width: formatSharpness(propertyName) }"></div>
                </div>
            </div>
            <!--Affinity-->
            <div class="affinity flex separator">
                <span class="name">Affinity</span><span :class="['value', { 'text-danger': affinity < 0 }]">{{affinity}}%</span>
            </div>
            <!--Element-->
            <div v-for="(element, index) in weapon.elements" :key="`element-${element}-${index}`" class="element flex separator">
                <span  class="name">{{element.type}}</span><span :class="`value ${element.hidden ? 'locked' : ''}`">{{element.damage}}</span>
            </div>
            <!--Elderseal-->
            <div v-if="weapon.attributes.elderseal" class="elderseal flex separator">
                <span class="name">Elderseal</span><span class="value">{{weapon.attributes.elderseal}}</span>
            </div>
            <!--Defense-->
            <div v-if="weapon.attributes.defense" class="defense flex separator">
                <span class="name">Defense</span><span class="value">{{weapon.attributes.defense}}</span>
            </div>
            <!--Shelling-->
            <div v-if="weapon.attributes.shellingType" class="shelling flex separator">
                <span class="name">Shelling Type</span><span class="value">{{weapon.attributes.shellingType}}</span>
            </div>
            <!--Phial-->
            <div v-if="weapon.attributes.phialType" class="phial flex separator">
                <span class="name">Phial Type</span><span class="value">{{weapon.attributes.phialType}}</span>
            </div>
            <!--Boost-->
            <div v-if="weapon.attributes.boostType" class="boost flex separator">
                <span class="name">Boost Type</span><span class="value">{{weapon.attributes.boostType}}</span>
            </div>
            <!--Deviation-->
            <div v-if="weapon.attributes.deviation" class="deviation flex separator">
                <span class="name">Deviation</span><span class="value">{{weapon.attributes.deviation}}</span>
            </div>
            <!--Special Ammo-->
            <div v-if="weapon.attributes.specialAmmo" class="special-ammo flex separator">
                <span class="name">Special Ammo</span><span class="value">{{weapon.attributes.specialAmmo}}</span>
            </div>
            <!--Coatings-->
            <div v-if="weapon.attributes.coatings" class="coatings flex separator">
                <span class="name">Coatings</span><span class="value">{{weapon.attributes.coatings.join(", ")}}</span>
            </div> 
        </div>
        <!--Ammo-->
        <div v-if="weapon.attributes.ammoCapacities" class="ammo-list flex separator">
            <table class="table table-sm table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ammo Type</th>
                        <th scope="col">Level 1</th>
                        <th scope="col">Level 2</th>
                        <th scope="col">Level 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr :key="`ammo-type-${propertyName}`" v-for="(levels, propertyName) in weapon.attributes.ammoCapacities">
                        <th class="name">{{propertyName}} Ammo</th>
                        <td :key="`ammo-level-${propertyName}-${index}`" v-for="index in 3">{{levels[index]||"-"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script> 
    export default {
        name: "weapon-details",
        components: {            
        },
        props: ["weapon"],
        created(){
        },
        data() {
            return {
                current: null                
            }
        },
        methods: {
            formatSharpness(type){
                return `${this.weapon.sharpness[type]||0}%`;
            }
        },
        computed: {
            affinity(){
                return this.weapon.attributes.affinity||0;
            }
        }
    };
</script>