<template>
    <div>
        <div class="d-flex">
            <div class="d-flex icon-selector-container">
                <div :class="['equipment-icon', selected.value, `rarity-${rarity}`]"></div>
                <selector
                    :id="id"
                    :url="url"
                    :template="template"
                    placeholder="Weapon"
                    @selected="equipmentSelected"
                    @removed="equipmentRemoved"></selector>
            </div>
            <b-dropdown :text="selected.label" class="m-2" :disabled="this.current != null">
                <b-dropdown-header>Weapon Type</b-dropdown-header>
                <b-dropdown-item-button
                    v-for="(type, index) in weapon.types"
                    :key="`weapon-${type.value}`"
                    :value="type.value"
                    @click="setSelected(index)">{{type.label}}</b-dropdown-item-button>
            </b-dropdown>
        </div>
        <div v-if="current != null">
            <decoration-group
                :decoIds="current.decoIds"
                :slots="current.slots"
                type="weapon"
                @decorationSelected="decorationSelected"
                @decorationRemoved="decorationRemoved"></decoration-group>
        </div>
    </div>
</template>
 
 
<script> 
    import Selector from './Selector.vue';
    import DecorationGroup from './DecorationGroup.vue';

    export default {
        name: "weapon-selector",
        components: {
            "selector": Selector,
            "decoration-group": DecorationGroup
        },
        props: ["pkey", "current"],
        created(){
            this.setSelected(0);
        },
        data() {
            return {
                label: "skills",
                query: {
                    selected: "name",
                    types: [
                        {
                            label: "Name",
                            value: "name"
                        },
                        {
                            label: "Weapon Type",
                            value: "type"
                        }
                    ]
                },
                weapon: {
                    selected: null,
                    types: [
                        {
                            label: "Great Sword",
                            value: "great-sword"
                        },
                        {
                            label: "Long Sword",
                            value: "long-sword"
                        },{
                            label: "Sword and Shield",
                            value: "sword-and-shield"
                        },{
                            label: "Dual Blades",
                            value: "dual-blades"
                        },{
                            label: "Hammer",
                            value: "hammer"
                        },{
                            label: "Hunting Horn",
                            value: "hunting-horn"
                        },{
                            label: "Lance",
                            value: "lance"
                        },{
                            label: "Gunlance",
                            value: "gunlance"
                        },{
                            label: "Switch Axe",
                            value: "switch-axe"
                        },{
                            label: "Charge Blade",
                            value: "charge-blade"
                        },{
                            label: "Insect Glaive",
                            value: "insect-glaive"
                        },{
                            label: "Light Bowgun",
                            value: "light-bowgun"
                        },{
                            label: "Heavy Bowgun",
                            value: "heavy-bowgun"
                        },{
                            label: "Bow",
                            value: "bow"
                        }
                    ]
                }
            }
        },
        methods: {
            setSelected(index) {
                this.weapon.selected = index;
            },
            equipmentSelected(item) {
                // Set decoIds property when loading item
                item.decoIds = this.current && this.current.decoIds ? this.current.decoIds : {};
                // Set empty skills to weapon
                if(!item.skills) {
                    item.skills = [];
                }
                this.setSelected(this.weapon.types.findIndex(function (current) { return current.value === item.type }));
                this.$emit("weaponSelected", "weapon", item);
            },
            equipmentRemoved() {
                this.$emit("weaponRemoved", this.pkey);
            },
            decorationSelected(item, index) {
                this.current.skills.push({
                    "index": index,
                    "id": item.id,
                    "slug": item.slug,
                    "skill": item.skill,
                    "level": 1,
                    "description": "decoration",
                    "modifiers": []
                });
                this.current.decoIds[index] = item.id;
                this.equipmentSelected(this.current);
            },
            decorationRemoved(index){
                if(index != -1) {
                    this.current.skills.splice(index, 1);
                    this.current.decoIds[index] = null;
                }

                this.equipmentSelected(this.current);
            },
            template(weapon) {
                let affinity = weapon.attributes.affinity||0;
                let template = 
                    `<div class="weapon-container">
                        <div class="weapon-header d-flex -justify-content-between align-items-center">
                            <strong class="autocomplete-anchor-text">${weapon.name}</strong>
                        </div>
                        <div class="weapon-details autocomplete-anchor-label">                            
                            <div class="attack d-flex">
                                <span class="name">Attack</span><span class="value">${weapon.attributes.attack}</span>
                            </div>
                            <div class="Affinity d-flex">
                                <span class="name">Affinity</span><span class="value ${affinity < 0 ? 'text-danger' : ''}">${affinity}%</span>
                            </div>`
                if(weapon.sharpness){
                    let sharpness = "";
                    for(var color in weapon.sharpness){
                        sharpness += `<div class="${color}" style="width: ${weapon.sharpness[color]}%"></div>`;
                    }
                    template += 
                        `<div class="weapon-sharpness align-items-center d-flex">
                            <span class="name">Sharpness</span>
                            <div class="bar d-flex">
                                ${sharpness}
                            </div>
                        </div>`;
                }
                if(weapon.elements){
                    let element = null;
                    for(var i = 0; i < weapon.elements.length; i++){
                        element = weapon.elements[i];
                        template +=
                            `<div class="element d-flex">
                                <span class="name">${element.type}</span><span class="value ${element.hidden ? 'locked' : ''}">${element.damage}</span>
                            </div>`;
                    }
                }
                if(weapon.attributes.elderseal){
                    template +=
                        `<div class="elderseal d-flex">
                            <span class="name">Elderseal</span><span class="value">${weapon.attributes.elderseal}</span>
                        </div>`;
                }
                if(weapon.attributes.defense){
                    template +=
                        `<div class="defense d-flex">
                            <span class="name">Defense</span><span class="value">${weapon.attributes.defense}</span>
                        </div>`;
                }
                template += `</div></div>`;
                return template;
            }
        },
        computed: {
            id() {
                return this.current && this.current.id ? this.current.id : null;
            },
            url() {
                let node = this.id ? "id" : this.selected.value;
                return `/api/weapons/${node}/{value}`;
            },
            rarity() {
                return this.current ? this.current.rarity : 1;
            },
            selected() {
                return this.weapon.types[this.weapon.selected];
            }
        }
    };
 
</script>