.loadout {
  padding-bottom: 20px; }
  .loadout .selector-container {
    width: 50%; }
    .loadout .selector-container .decoration-group .decoration-subgroup {
      width: calc(100% - 48px); }
      .loadout .selector-container .decoration-group .decoration-subgroup .selector {
        max-width: 400px; }
  .loadout .details-container {
    width: calc(50% - 20px);
    margin-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 10px; }
  .loadout .equipment-icon {
    width: 48px;
    height: 48px;
    position: relative;
    background-repeat: no-repeat;
    margin-left: 5px; }
    .loadout .equipment-icon.bow {
      background-image: url("/images/weapons/bow.png"); }
    .loadout .equipment-icon.charge-blade {
      background-image: url("/images/weapons/charge-blade.png"); }
    .loadout .equipment-icon.dual-blades {
      background-image: url("/images/weapons/dual-blades.png"); }
    .loadout .equipment-icon.great-sword {
      background-image: url("/images/weapons/great-sword.png"); }
    .loadout .equipment-icon.gunlance {
      background-image: url("/images/weapons/gunlance.png"); }
    .loadout .equipment-icon.hammer {
      background-image: url("/images/weapons/hammer.png"); }
    .loadout .equipment-icon.heavy-bowgun {
      background-image: url("/images/weapons/heavy-bowgun.png"); }
    .loadout .equipment-icon.hunting-horn {
      background-image: url("/images/weapons/hunting-horn.png"); }
    .loadout .equipment-icon.insect-glaive {
      background-image: url("/images/weapons/insect-glaive.png"); }
    .loadout .equipment-icon.lance {
      background-image: url("/images/weapons/lance.png"); }
    .loadout .equipment-icon.light-bowgun {
      background-image: url("/images/weapons/light-bowgun.png"); }
    .loadout .equipment-icon.long-sword {
      background-image: url("/images/weapons/long-sword.png"); }
    .loadout .equipment-icon.switch-axe {
      background-image: url("/images/weapons/switch-axe.png"); }
    .loadout .equipment-icon.sword-and-shield {
      background-image: url("/images/weapons/sword-and-shield.png"); }
    .loadout .equipment-icon.head {
      background-image: url("/images/armors/head.png"); }
    .loadout .equipment-icon.chest {
      background-image: url("/images/armors/chest.png"); }
    .loadout .equipment-icon.gloves {
      background-image: url("/images/armors/gloves.png"); }
    .loadout .equipment-icon.waist {
      background-image: url("/images/armors/waist.png"); }
    .loadout .equipment-icon.legs {
      background-image: url("/images/armors/legs.png"); }
    .loadout .equipment-icon.charm {
      background-image: url("/images/armors/charm.png"); }
    .loadout .equipment-icon.slot-rank-1 {
      background-image: url("/images/decorations/rank-1.png"); }
    .loadout .equipment-icon.slot-rank-2 {
      background-image: url("/images/decorations/rank-2.png"); }
    .loadout .equipment-icon.slot-rank-3 {
      background-image: url("/images/decorations/rank-3.png"); }
    .loadout .equipment-icon.rarity-1, .loadout .equipment-icon .rarity-2 {
      background-color: #fff; }
    .loadout .equipment-icon.rarity-3 {
      background-color: #bbd953; }
    .loadout .equipment-icon.rarity-4 {
      background-color: #3a593c; }
    .loadout .equipment-icon.rarity-5 {
      background-color: #7eb5b2; }
    .loadout .equipment-icon.rarity-6 {
      background-color: #4f60bc; }
    .loadout .equipment-icon.rarity-7 {
      background-color: #533f87; }
    .loadout .equipment-icon.rarity-8 {
      background-color: #d49e92; }
  .loadout .weapon-container {
    width: 100%;
    max-width: 500px; }
    .loadout .weapon-container .name {
      font-weight: bold;
      color: #343a40;
      text-transform: capitalize; }
      .loadout .weapon-container .name:after {
        content: ":"; }
    .loadout .weapon-container .weapon-details .value {
      color: #343a40;
      text-transform: capitalize; }
      .loadout .weapon-container .weapon-details .value.locked {
        color: #aaa; }
        .loadout .weapon-container .weapon-details .value.locked:before {
          content: "("; }
        .loadout .weapon-container .weapon-details .value.locked:after {
          content: ")"; }
    .loadout .weapon-container .weapon-details .value, .loadout .weapon-container .weapon-details .bar {
      margin-left: 10px; }
    .loadout .weapon-container .weapon-details .weapon-sharpness .bar {
      width: 125px;
      border: 2px solid black;
      height: 13px;
      border-radius: 5px; }
      .loadout .weapon-container .weapon-details .weapon-sharpness .bar > div {
        height: 100%; }
      .loadout .weapon-container .weapon-details .weapon-sharpness .bar .red {
        background-color: #C00; }
      .loadout .weapon-container .weapon-details .weapon-sharpness .bar .orange {
        background-color: #F80; }
      .loadout .weapon-container .weapon-details .weapon-sharpness .bar .yellow {
        background-color: #fb3; }
      .loadout .weapon-container .weapon-details .weapon-sharpness .bar .green {
        background-color: #00C851; }
      .loadout .weapon-container .weapon-details .weapon-sharpness .bar .blue {
        background-color: #0d47a1; }
      .loadout .weapon-container .weapon-details .weapon-sharpness .bar .white {
        background-color: #fff; }
    .loadout .weapon-container .ammo-list {
      margin-top: 10px; }
  @media (max-width: 992px) {
    .loadout .selector-container, .loadout .details-container {
      width: 100%;
      margin: 0;
      border: 0;
      padding: 0; } }
  @media (max-width: 576px) {
    .loadout .selector {
      width: 100%; }
    .loadout .equipment-icon {
      display: none; } }
