body {    
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 500px;
}

h1 {
    &.title{
        margin: 20px;  
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        &:after{
            content: "";
            background: url(/images/bg/flourish.png);
            height: 37px;
            width: 100%;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}

hr {
    width: 100%;
}

.full {
    width: 100%;
}

.separator {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 2px;
    margin-bottom: 2px;
    &:last-child{
        border-bottom: 0;
    }
}

.flex {
    display: flex;
    &.justify-content-end {
        justify-content: flex-end; 
    }
    &.flex-column {
        flex-direction: column;
    }
}

.name {
    width: 200px;
}