.loadout {
    padding-bottom: 20px;
    .selector-container {
        width: 50%;
        .decoration-group {
            .decoration-subgroup {
                width: calc(100% - 48px);
                .selector {
                    max-width: 400px;
                }
            }
        }
    }

    .details-container {
        width: calc(50% - 20px);
        margin-left: 10px;
        border-left: 1px solid rgba(0,0,0,.1);
        padding-left: 10px;
    }

    .equipment-icon {
        width: 48px;
        height: 48px;
        position: relative;
        background-repeat: no-repeat;
        margin-left: 5px;
        &.bow{
            background-image: url("/images/weapons/bow.png");
        }
        &.charge-blade{
            background-image: url("/images/weapons/charge-blade.png");
        }
        &.dual-blades{
            background-image: url("/images/weapons/dual-blades.png");
        }
        &.great-sword{
            background-image: url("/images/weapons/great-sword.png");
        }
        &.gunlance{
            background-image: url("/images/weapons/gunlance.png");
        }
        &.hammer{
            background-image: url("/images/weapons/hammer.png");
        }
        &.heavy-bowgun{
            background-image: url("/images/weapons/heavy-bowgun.png");
        }
        &.hunting-horn{
            background-image: url("/images/weapons/hunting-horn.png");
        }
        &.insect-glaive{
            background-image: url("/images/weapons/insect-glaive.png");
        }
        &.lance{
            background-image: url("/images/weapons/lance.png");
        }
        &.light-bowgun{
            background-image: url("/images/weapons/light-bowgun.png");
        }
        &.long-sword{
            background-image: url("/images/weapons/long-sword.png");
        }
        &.switch-axe{
            background-image: url("/images/weapons/switch-axe.png");
        }
        &.sword-and-shield{
            background-image: url("/images/weapons/sword-and-shield.png");
        }
        &.head{
            background-image: url("/images/armors/head.png");
        }
        &.chest{
            background-image: url("/images/armors/chest.png");
        }
        &.gloves{
            background-image: url("/images/armors/gloves.png");
        }
        &.waist{
            background-image: url("/images/armors/waist.png");
        }
        &.legs{
            background-image: url("/images/armors/legs.png");
        }
        &.charm{
            background-image: url("/images/armors/charm.png");
        }
        &.slot-rank-1{
            background-image: url("/images/decorations/rank-1.png");
        }
        &.slot-rank-2{
            background-image: url("/images/decorations/rank-2.png");
        }
        &.slot-rank-3{
            background-image: url("/images/decorations/rank-3.png");
        }
        &.rarity-1, .rarity-2{
            background-color: #fff;
        }
        &.rarity-3{
            background-color: #bbd953;
        }
        &.rarity-4{
            background-color: #3a593c;
        }
        &.rarity-5{
            background-color: #7eb5b2;
        }
        &.rarity-6{
            background-color: #4f60bc;
        }
        &.rarity-7{
            background-color: #533f87;
        }
        &.rarity-8{
            background-color: #d49e92;
        }
    }

    .weapon-container {
        width: 100%;
        max-width: 500px;
        .name{
            font-weight: bold;
            color: #343a40;
            text-transform: capitalize;
            &:after{
                content: ":"
            }
        }
        .weapon-details{
            .value {
                color: #343a40;
                text-transform: capitalize;
                &.locked {
                    color: #aaa;
                    &:before{
                        content: "(";
                    }
                    &:after{
                        content: ")";
                    }
                }        
            }
            .value, .bar{
                margin-left: 10px;
            }
            .weapon-sharpness{
                .bar{
                    width: 125px;
                    border: 2px solid black;
                    height: 13px;
                    border-radius: 5px;
                    > div {
                        height: 100%;
                    }
                    .red{
                        background-color: #C00;
                    }
                    .orange{
                        background-color: #F80;
                    }
                    .yellow{
                        background-color: #fb3;
                    }
                    .green{
                        background-color: #00C851;
                    }
                    .blue{
                        background-color: #0d47a1;
                    }
                    .white{
                        background-color: #fff;
                    }
                }      
            }
        }
        .ammo-list {
            margin-top: 10px
        }
    }

    @media (max-width: 992px){
        .selector-container, .details-container {
            width: 100%;
            margin: 0;
            border: 0;
            padding: 0;
        }   
    }

    @media (max-width: 576px) {
        .selector {
            width: 100%;
        }
        .equipment-icon {
            display: none;
        }
    }
}